.mini-nav {
  padding-bottom: 40px;
}

.nav-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #B7B7B7;

  padding-right: 20px;

  text-decoration: none;
}

.nav-item-svg {
  margin-right: 20px;
}

.nav-line {
  border: 1px solid #000;
  margin-bottom: 40px;
}



.product {
  margin-bottom: 50px;
}

.product-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  color: #000000;
}

.product-id {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #B7B7B7;

  display: inline;
}

.product-container {
  display: flex;
  justify-content: center;
}

.product-image {
  width: 560px;
  height: 460px;

  padding-right: 40px;
}

.product-cont {
  margin-top: auto;
}

.product-price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  color: #000000;
}

.add-to-cart {
  width: 160px;
  height: 48px;
  cursor: pointer;

  background-color: #FE361E;
}

.button-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;

  color: #FFFFFF;
}